In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
def GetPopulationData_1(csv_file):
    year = csv_file.split(".")[0][-4:]
    df = pd.read_csv(csv_file)
    df = df[["NAME","S0101_C01_001E"]]
    df.rename(columns={"NAME":"zip_code","S0101_C01_001E":"population"},inplace=True)
    df = df.iloc[1:]
    df["population"] = df["population"].astype(int)
    df.to_csv(f"output_first_part/{year}.csv",index=False)


def GetPopulationData_2(csv_file):
    year = csv_file.split(".")[0][-4:]
    df = pd.read_csv(csv_file)
    cols =  df.columns[df.columns.str.contains("Total!!Estimate")]
    df = df[cols]
    df.rename(columns= lambda x: x.split("!!")[0],inplace=True)
    df = df.iloc[0]
    df = df.apply(lambda x: x.replace(",","")).astype(int)
    frame = {"zip_code":df.index.values,"population":df.values}
    final_df = pd.DataFrame(frame)
    final_df.to_csv(f"output_second_part/{year}.csv",index=False)

In [3]:
#Getting first_part csv files paths
data_first_part = "data/productDownload_2024-01-24T180636/"
csv_paths_1 = os.listdir(data_first_part)
csv_paths_1 = [f for f in csv_paths_1 if "Data" in f]
for csv_file in csv_paths_1:
    csv_file_path = data_first_part + csv_file
    GetPopulationData_1(csv_file_path)

In [4]:
#Getting second_part csv files paths
data_second_part = "data/second_part/"
csv_paths_2 = os.listdir(data_second_part)
for csv_file in csv_paths_2:
    csv_file_path = data_second_part  +csv_file
    GetPopulationData_2(csv_file_path)

In [5]:
#Concatenating both parts
years = range(2011,2019)
for y in years:
    df1 = pd.read_csv("output_first_part/{}.csv".format(y))
    df2 = pd.read_csv("output_second_part/{}.csv".format(y))
    df = pd.concat([df1,df2])
    df.to_csv("final_output/{}.csv".format(y),index=False)

In [3]:
import pandas as pd

files = ['2011.csv', '2012.csv', '2013.csv', '2014.csv','2015.csv','2016.csv','2017.csv','2018.csv']

combined_df = pd.DataFrame()
folder_name= "final_output"

for file in files:
    df = pd.read_csv(folder_name+"/"+file)
    year = int(file.split('.')[0])  
    df['year'] = year
    combined_df = pd.concat([combined_df, df], ignore_index=True)
combined_df=combined_df[['year','population','zip_code']]
combined_df.to_csv("final.csv",index=False)
combined_df

      year  population     zip_code
0     2011       16585  ZCTA5 99501
1     2011       24061  ZCTA5 99502
2     2011       13604  ZCTA5 99503
3     2011       39662  ZCTA5 99504
4     2011        6859  ZCTA5 99505
...    ...         ...          ...
2331  2018          15  ZCTA5 99923
2332  2018         927  ZCTA5 99925
2333  2018        1635  ZCTA5 99926
2334  2018          38  ZCTA5 99927
2335  2018        2484  ZCTA5 99929

[2336 rows x 3 columns]